APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:5y3fCzPlxzLI2LXhgNZicxpXZfWykV3phG0tWOzU5yE=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost


BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=agencia_mysql
DB_PORT=3306
DB_DATABASE=agencia
DB_USERNAME=agencia
DB_PASSWORD=123
DB_ROOT_PASSWORD=123

VITE_APP_NAME="${APP_NAME}"
VITE_PORT=5173
